En la base de datos "adult.data" ¿cuantos adultos tienen un ingreso mayor a 50k?m

In [1]:
import numpy as np
import mglearn
import pandas as pd
import os
from matplotlib import pyplot as plt

In [2]:
# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"
adult_path = os.path.join(mglearn.datasets.DATA_PATH, "adult.data")
data = pd.read_csv(
    adult_path, header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])
# For illustration purposes, we only select some of the columns
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]
# IPython.display allows nice output formatting within the Jupyter notebook
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [4]:
print(data.income.value_counts())

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

¿Cuantas variables obtenemos despues de aplicar la función get_dummies en la base de datos "adult.data" ? (considera todas las variables de la base de datos)

Aplica regresión logística en los datos tratados en la pregunta anterior. ¿Cual es el resultado obtenido (test score) en el conjunto de prueba ?

 ¿Cuántas variables obtenemos después de aplicar la función get_dummies en la base de datos "adult.data" considerando las variables numéricas como categóricas ?

Aplica regresión logística en los datos tratados en la pregunta anterior. ¿Cual es el resultado obtenido (test score) en el conjunto de prueba ?

Aplique el método de estadística univariante para reducir el numero de características del conjunto de datos del cáncer y aplique regresión logística en el conjunto obtenido. ¿Cual es el desempeño del modelo (test score) después de reducir las características?